[submodule ".registry"]
	path = .registry
	url = https://github.com/aalborg-intelligence/aalborg-intelligence.r-universe.dev
	branch = HEAD
[submodule "aai"]
	path = aai
	url = https://github.com/aalborg-intelligence/aai
[submodule "aimat"]
	path = aimat
	url = https://github.com/aalborg-intelligence/aimat
